
.box {
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 296px; 
    gap: 16px;
    padding: 0; 
}


.image {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #d0d7de; 
    margin-bottom: 8px;
    box-shadow: 0 0 0 1px rgba(27, 31, 36, 0.15); 
    z-index: 2;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.name h1 {
    margin: 0;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600;
    color: #f0f0f0;
}

.nickname {
    font-size: 20px;
    line-height: 24px;
    color: #d6d6d6; 
    font-weight: 300;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detailItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #f0f0f0;
}

.icon {
    color: #636c76;
    width: 16px;
    text-align: center;
}

.buttonGroup {
    display: flex;
    flex-direction: column; 
    gap: 10px;             
    width: 100%;
    margin-top: 10px;
}


.socialButton {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;             
    
    padding: 10px 16px;      
    background-color: #f6f8fa; 
    border: 1px solid #d0d7de; 
    border-radius: 6px;      
    text-decoration: none;   
    color: #24292f;       
    font-size: 14px;
    font-weight: 600;
    
    transition: 0.2s all;    
}

.socialButton:hover {
    background-color: #ebecf0; 
    border-color: #8c959f;     
    transform: translateY(-2px); 
}

.socialButton:active {
    transform: translateY(0);   
}